 .nav-item active{
        background-color:transparent;
        position: sticky;
       
      }
  .body {
    font-family: Arial, sans-serif;
   position: relative;
   color: rgb(255, 255, 255);
   margin: 0%;
  }
footer {
    background-color: #722118;
}
.banner video{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}
#mySearch {
    width: 20% ;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  


